<%= search_form_for @ramen, url: ramens_path do |f| %>
  <div class = "text-right mr-5 mt-3" >
    <div class = 'nav-up'>

      <%= f.text_field :shop_name_cont, placeholder: "店名から探す", class: "input-box" %>
      <button class="search-button">
        <i class="fas fa-search"></i>
      </button>
    </div>

    <div class='nav-down'>
      <div class='label-select'>
          <%= f.label :area_id_eq, '都道府県', class: 'label' %>
          <%= f.collection_select :area_id_eq, Area.where.not(id: 0), :id, :area,  include_blank: '指定なし', class: 'search-select' %>
      </div>


      <div class='label-select'>
        <%= f.label :genre_id_eq, 'ジャンル', class: 'label' %>
        <%= f.collection_select :genre_id_eq, Genre.where.not(id: 0), :id, :name,  include_blank: '指定なし', class: 'search-select' %>
      </div>

    </div>
  </div>
<% end %>



<div class="mx-auto" style="width: 600px;">
      <h1>ラーメン一覧</h1>
  <div class="card-list-container py-5">
    <% if @results.length == 0 %>
      検索結果がありません。
    <% end %>

<div class = "container">
    <% @results.each do |ramen| %>
    <div class = "row">
      <div class="card w-50 mx-auto mt-4 shadow-lg">

        <%= link_to ramen_path(ramen.id) do %>
          <%= image_tag ramen.get_image, class:"card-img-top"; %>
        <% end %>


          <div class="card-body">
            <div class="row">
              <div class="col">
                <p class="card-title">
                  <p class="card-text">エリア：<%= ramen.area.area %></p>

                <p class="card-text">店名：<%= ramen.shop_name %></p>
                <%= link_to(user_path(ramen.user.id), class:"text-dark") do %>
                <span><i class="fas fa-user"></i> By <%= ramen.user.name %> ｜ </span>
                <% end %>

                <div id ="ramen_favorites_buttons_<%= ramen.id %>">
                <%= render 'ramen_favorites/favorite', ramen: ramen %>
                </div>

                <p>
                <%= link_to ramen_comments_path(ramen) do %>
                  <i class="far fa-comment"></i><%= ramen.ramen_comments.count %>
                <% end %>
                </p>

              </div>
            </div>
          </div>
      </div>
    </div>
    <% end %>
  </div>
</div>