 <div class="container">

    <div class="row mt-5">
      <div class="col-2 text-right">
        <h3 class="bg-light">
          <strong>
            詳細
          </strong>
        </h3>
      </div>
    </div>




        <div class="col-8">

          <table>
            <tbody>

              <tr>
                  <%= image_tag @ramen.get_image, size: "350x250" %>
              </tr>

              <tr>
                <th>
                  <p>エリア</p>
                </th>

                <td>
                  <p><%= @ramen.area.area %></p>
                </td>
              </tr>

              <tr>
                <th>
                  <p>店名</p>
                </th>

                <td>
                  <p><%= @ramen.shop_name %></p>
                </td>
              </tr>

              <tr>
                <th>
                  <p>商品名</p>
                </th>

                <td>
                  <p><%= @ramen.name %></p>
                </td>
              </tr>

              <tr>
                <th>
                  <P>感想</P>
                </th>

                <td>
                  <p><%= @ramen.introduction %></P>
                </td>
              </tr>

              <tr>
                <th>
                  <p>ジャンル</P>
                </th>

                  <td>
                    <p><%= @ramen.genre.name %></P>
                  </td>
              </tr>

              <tr>
                <th>
                  <p>値段</p>
                </th>

                  <td>
                    <p>
                      <%= @ramen.price %>
                    </p>
                  </td>
              </tr>

              <tr>
                <th>
                  <P>所在地</P>
                </th>

                <td>
                  <div id='map'></div>
                  <style>
                  #map {
                    height: 300px;
                    width: 400px;
                  }
                  </style>

                  <script>
                    let map

                    function initMap(){
                      geocoder = new google.maps.Geocoder()
                      var test ={lat: <%= @ramen.latitude %>, lng: <%= @ramen.longitude %>};

                      map = new google.maps.Map(document.getElementById('map'), {
                        center: test,
                        zoom: 15,
                          mapTypeControl: false,
                          streetViewControl: false
                      });

                      var contentString = '住所：<%= @ramen.location %>';
                      var infowindow = new google.maps.InfoWindow({
                        content: contentString
                      });

                      marker = new google.maps.Marker({
                        position:  test,
                        map: map,
                        title: contentString
                      });
                    }
                  </script>
                  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&callback=initMap" async defer></script>
                </td>
              </tr>

              <tr>
                <th>
                  <p>営業時間</p>
                </th>

                  <td>
                    <p>
                      <%= @ramen.business_hours %>
                    </p>
                  </td>
              </tr>

              <tr>
                <th>
                  <p>定休日</p>
                </th>

                  <td>
                    <p>
                      <%= @ramen.regular_holiday %>
                    </p>
                  </td>
              </tr>


              <% if @ramen.user == current_user %>
              <tr>
                  <td><%= link_to '編集する', edit_ramen_path(@ramen.id), class: "btn btn-lg btn-success mt-5" %></td>
                  <td><%= link_to "削除", ramen_path(@ramen.id), method: :delete,"data-confirm" => "本当に削除しますか？", class: "btn btn-lg btn-danger mt-5" %></td>
              </tr>
              <% end %>

            </tbody>
          </table>

        </div>
    </div>

    <% if user_signed_in? %>
    <div>
      <%= link_to "コメントを見る", ramen_comments_path(@ramen) %>
    </div>
    <% end %>

  </div>

