
<h3>
  <%= @user.name %>
</h3>
<h2>
  <% if @user == current_user %>
  <%= link_to '名前を変更する', edit_user_path(@user) %>
  <% end %>
</h2>

<div class="card-list-container py-5">
  <% @ramens.each do |ramen| %>
    <div class="card w-50 mx-auto mt-4 shadow-lg">
      <%= link_to ramen_path(ramen.id) do %>
        <%= image_tag ramen.get_image, class:"card-img-top"; %>
      <% end %>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <p class="card-title">
                <p class="card-text">エリア：<%= ramen.area.area %></p>

                <p class="card-text">店名：<%= ramen.shop_name %></p>

            </div>
          </div>
        </div>
    </div>
  <% end %>
</div>
