<div class = "container" >

<h3>ラーメンズ</h3>
    <div class = "row">
      <p>好きなラーメンを見つけましょう！</p>
    </div>

          <div class="card-list-container py-5">
            <% @ramens.each do |ramen| %>
              <div class="card w-50 mx-auto mt-4 shadow-lg">
                <%= link_to ramen_path(ramen.id) do %>
                  <%= image_tag ramen.get_image, class:"card-img-top"; %>
                <% end %>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <p class="card-title">
                          <%= link_to(ramen_path(ramen.id), class:"text-dark") do %>
                            <span> <%= ramen.area.area %></span>
                          <% end %>
                        </p>
                        <p class="card-text">店名：<%= ramen.shop_name %></p>
                        <span><i class="fas fa-user"></i> By <%= ramen.user.name %> ｜ </span>
                      </div>
                    </div>
                  </div>
              </div>
            <% end %>
          </div>
</div>