<div class = "container" >

    <div class = "row mt-5">
      <div class = "col-2 mr-5" ></div>
        <div class = "col-8 ml-5" >
          <p>
            好きなラーメンを見つけましょう！<br>
            新規登録することでラーメンに対するコメントが見れるようになり<br>
            気に入ったラーメンをいいねできるようになります。<br>
            また、いいねしたラーメンはマイページでいつでも見返せます！
          </p>
        </div>
      <div class = "col-2" ></div>
    </div>

          <div class="card-list-container py-5">
            <% @ramens.each do |ramen| %>
              <div class="card w-50 mx-auto mt-4 shadow-lg">
                <%= link_to ramen_path(ramen.id) do %>
                  <%= image_tag ramen.get_image, class:"card-img-top"; %>
                <% end %>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <p class="card-title">
                          <%= link_to(ramen_path(ramen.id), class:"text-dark") do %>
                            <span> <%= ramen.area.area %></span>
                          <% end %>
                        </p>
                        <p class="card-text">店名：<%= ramen.shop_name %></p>
                        <span><i class="fas fa-user"></i> By <%= ramen.user.name %> ｜ </span>
                      </div>
                    </div>
                  </div>
              </div>
            <% end %>
          </div>
</div>