
  <%= search_form_for @ramen, url: ramens_path do |f| %>
    <div class = "text-right mr-5 mt-3" >
      <div class = 'nav-up'>
    <!--title_or_text_contは、text_fieldに入力した文字がtitleかtextの中に含まれているか、という記述-->
        <%= f.text_field :name_or_shop_name_cont, placeholder: "キーワードから探す", class: "input-box" %>
        <button class="search-button">
          <i class="fas fa-search"></i>
        </button>
      </div>

      <div class='nav-down'>
        <div class='label-select'>
            <%= f.label :area_id_eq, '都道府県', class: 'label' %>
            <%= f.collection_select :area_id_eq, Area.where.not(id: 0), :id, :area,  include_blank: '指定なし', class: 'search-select' %>
        </div>


        <div class='label-select'>
          <%= f.label :genre_id_eq, 'ジャンル', class: 'label' %>
          <%= f.collection_select :genre_id_eq, Genre.where.not(id: 0), :id, :name,  include_blank: '指定なし', class: 'search-select' %>
        </div>

      </div>
    </div>
  <% end %>

  <div class = "container">
    <div class = "offset-md-4">
          <p>
            好きなラーメンを見つけましょう！<br>
            新規登録することでラーメンに対するコメントが見れるようになり<br>
            気に入ったラーメンをいいねできるようになります。<br>
            また、いいねしたラーメンはマイページでいつでも見返せます！
          </p>
    </div>
  </div>



      <div class = "container">
        <div class="row">
            <% @ramens.each do |ramen| %>
              <div class="card w-50 mx-auto mt-4 shadow-lg col-3 ml-1">
                <%= link_to ramen_path(ramen.id) do %>
                  <%= image_tag ramen.get_image, class:"card-img-top"; %>
                <% end %>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <p class="card-title">
                          <%= link_to(ramen_path(ramen.id), class:"text-dark") do %>
                            <span> <%= ramen.area.area %></span>
                          <% end %>
                        </p>
                        <p class="card-text">店名：<%= ramen.shop_name %></p>
                        <span><i class="fas fa-user"></i> By <%= ramen.user.name %> ｜ </span>
                      </div>
                    </div>
                  </div>
              </div>
            <% end %>
          </div>


      </div>